<template>
  <div id="app">
      <div id="search">
      <h4 >{{ title }}</h4>
        <input  type="text" v-model="searchText" placeholder="find photos by title, author, or tag"><span @click="searchText = ''" >X</span>
      </div>
      <div class="container">
        <div class="row justify-content-between" >
          <section class="col-sm-6 col-md-4 col-lg-3" v-for="(photo, i) in search" :key="i">
            <div>
            <img :src="photo.media.m" alt="">
            <div class="attr">
              <span class="photoTitle">
                <a :href="photo.link" style="">
                  {{ shortTitle(photo.title) }}
                </a>
              </span> by 
              <span class="author">
                <a :href="'https://www.flickr.com/people/' +photo.author_id">
                  {{ photo.author }}
                </a>
                <i class="material-icons" title="Click to exclude author" @click="addToFiltered(photo.author)">block</i>
              </span>  
              <p class="description" :id="'d'+ i" >
                {{ shortDescription(photo.description) }}
              </p>
              <p class="tags" >Tags: {{ photo.tags }}</p>
            </div>
            </div>
          </section>
        </div>
      </div>

      <!-- initial warning -->
      <div class="modalBg" v-if="initWarning">
        <div class="modal" :class="{ showModal : initWarning}">
          <i class="material-icons right" @click="hideWarning">clear</i>
          <h6 style="margin-top:20px;">WARNING!!</h6> 
          <p>This page uses a Flickr API that may contain nudity from some authors. To exclude an author, click on the <i class="material-icons nolink">block</i> icon next to the author's name.</p>


        </div>
      </div>

      <!-- modal for newly excluded author -->
      <div class="modalBg" v-if="notifyExclusion" >
        <div class="modal" :class="{ showModal: notifyExclusion }">
            <i class="material-icons" @click="hideNotificationExclusion">clear</i>
          <div>
            <p v-html="newlyExcluded"></p>
            <div style="cursor:pointer;font-size:0.8rem">
              <span v-if="checked" @click="checkBox" >
                <i  class="material-icons">check_box</i> check to remove and reload images upon closing this popup
              </span>
              <span v-else @click="checkBox" >
                <i class="material-icons">check_box_outline_blank</i> check to remove and reload images upon closing this popup
              </span>
            </div>            
          </div>

        </div>
      </div>

      <!-- modal for excluded authors -->
      <div class="modalBg" v-if="filtered">
        <div class="modal" :class="{ showModal: filtered}">
          <span><i @click="closeExclusionDisplay" class="material-icons right">clear</i></span>
          
          <h6 style="margin-top:2rem">Excluded Authors due to nudity</h6>
          <ul>
            <template v-for="(author,i) in bannedAuthors" >

              <li :key="i">
                {{author }} 
                <span style="cursor:pointer" @click="unBanAuthor(i)"><i class="material-icons">check_circle</i></span>
              </li>
            </template>
          </ul>
          (click on <i class="material-icons nolink">check_circle</i> to include back author)
          <div style="cursor:pointer;font-size:0.8rem">
            <span v-if="checked" @click="checkBox" >
              <i  class="material-icons">check_box</i> check to remove and reload images upon closing this popup
            </span>
            <span v-else @click="checkBox" >
              <i class="material-icons">check_box_outline_blank</i> check to remove and reload images upon closing this popup
            </span>
          </div>
        </div>
      </div>

      <footer>
        <div>N Sharid 
          <span style="font-size: 0.8rem; font-style:italic;float:right;cursor:pointer" @click="bannedAuth">excluded authors</span>
        </div>
        </footer>
  </div>
</template>

<script>
import {bus} from './main'
import _ from 'lodash'
export default {
  name: 'app',
  data () {
    return ({
      title: 'Mobile-first responsive Flickr Photo Stream with Infinite Scrolling',
      photos: [],
      url: 'https://api.flickr.com/services/feeds/photos_public.gne?format=json',
      wrap: true,
      searchText: '',
      id : 1,
      limitLoad: false,
      filtered: false,
      notifyExclusion: false,
      newlyExcluded: '',
      checked: false,
      initWarning: true,
      bannedAuthors: ['miafee1815', 'stevebuns31863', 'vinydonydony3', 'BLLLCCC', 'amyloper69', 'g.jungers', 'clarkjoetemec1', 'matthewdavidwright', 'one03m.productions1', 'katrina459']
    })
  },
  computed: {
    search() {
      let text = this.searchText.toLowerCase()
      return this.photos.filter( (photo) => {
        return photo.title.toLowerCase().match(text) || photo.tags.toLowerCase().match(text) || photo.author.match(text)
      })
    }
  
  },
  methods: {
    showWarning() {
      if(bus.getStore('warning') === null) {
        bus.setStore('warning', this.initWarning)
        return
      }
      this.initWarning = bus.getStore('warning')
    },

    hideWarning() {
      this.initWarning = false
      bus.setStore('warning', false)
      this.callJson()
    },

    hideNotificationExclusion() {
      if(this.checked) { 
        this.notifyExclusion = false
        this.photos = []
        document.documentElement.scrollTop = 0;
        setTimeout(() => {
          this.callJson()
        }, 500);
        this.checked = false
        return
      }
        this.notifyExclusion = false 
    },

    checkBox() {
      this.checked = !this.checked      
    },

    closeExclusionDisplay() {
      if(this.checked) { 
        this.filtered = false
        this.photos = []
        document.documentElement.scrollTop = 0;
        setTimeout(() => {
          this.callJson()
        }, 500);
        this.checked = false
        return
      }
        this.filtered = false 
    },

    checkBox() {
      this.checked = !this.checked
    },

    addToFiltered(author) {
      if(this.bannedAuthors.indexOf(author) > 0) {
        this.newlyExcluded = 'Author: <i>' + author + '</i><br> is already in exclusion list'
        this.notifyExclusion = true
        return
      }
      this.bannedAuthors.push(author)
      bus.setStore('bannedAuthors', this.bannedAuthors)
      this.newlyExcluded = 'You have excluded author: <br><i>' + author + '</i>'
      this.notifyExclusion = true
    },

    bannedAuth() {
      this.filtered = true
    },

    unBanAuthor(authorIndex) {
      this.bannedAuthors.splice(authorIndex, 1)
      bus.setStore('bannedAuthors', this.bannedAuthors)
    },

    shortTitle(title) {
      title = title.trim()
      if(title.length < 30) {
        return title
      }
      return title.substr(0,30) + ' ...'
    },

    shortDescription(description) {
      description = description.trim()
      if(description.length < 70) {
        return description
      }
      return description.substr(0,70) + ' ...'
    },

    unwrapText(i){
      let el = 'd' + i
      document.getElementById(el).classList.remove('wrap')
      localStorage.setItem(el, false)
    },

    wrapText(i){
      let el = 'd' + i
      document.getElementById(el).classList.add('wrap')
      localStorage.setItem(el, true)
    },

    scrollPage: _.throttle(function() { 
      let wrap = document.getElementById('app')

      // get page content height
      let contentHeight = wrap.offsetHeight
      let yOffset = window.pageYOffset
      let y = yOffset + window.innerHeight
      if(y >= contentHeight) {
        this.callJson() // get more images if scroller reaches the bottom of screen
      }
    }, 1000), // to limit frequency of call using lodash throttle

    englishCh(text){
    // return ' non-English'
      let nonEng = '[^\x00-\x7F]+'
      if(text.match(nonEng)) {
        console.log('non-EN excluded')
        return false
      }
      return true
    },

    filter(data) {
      let count = 1
      for(let item of data.items) {
        let limit = 30
        if(this.limitLoad) limit = 4
        // if(data.items.indexOf(item) < 4) { 
        if( this.englishCh(item.author) && this.englishCh(item.title) && this.englishCh(item.description) && this.englishCh(item.tags) && data.items.indexOf(item) < limit) {
        // if( this.englishCh(item.author) && this.englishCh(item.title) && this.englishCh(item.description) && this.englishCh(item.tags) ) {
          
          // return only the author's name, removing 'nobody@flickr.com' and other redundant punctuations
          item.author = item.author.replace("nobody@flickr.com", "")
                          .replace(/\s\(|\"|\)/g, "")
          
          //filtered authors due to nudity
          if(this.bannedAuthors, this.bannedAuthors.indexOf(item.author) > 0) {
            console.log('author blocked: ', item.author)
            // alert(item.author)
            return false
          }
          // alert('clean')

          item.description = item.description.replace("posted a photo:", "")                          
          item.description = item.description.replace(item.author, "")                          
          item.description = item.description.replace("Description", "")                          
          item.description = item.description.replace(/\n|<.*?>/g,'') // remove all html tags
          if(item.description.trim() === '') item.description = 'No description'
          // item.title = item.title.replace(/\.|\j|\p|\g/g, "") // remove '.jpg' 
          item.title = item.title.replace(".jpg", "") // remove extension name '.jpg' 
          if(item.title.trim() === "") item.title = 'No title'

          // to include coma after every tag
          item.tags = item.tags.replace(/\s/g, ", ")
          console.log(item)
          this.photos.push(item)
          item.id = this.id ++
          this.englishCh(item.title)
        }
      }
    },

    callJson() {
      this.jsonp(this.url)
      .then(data => {
        this.filter(data)
      })
    },

    jsonp(url) {
      return new Promise(function(resolve, reject) {
        let script = document.createElement('script')
        const jsonFlickrFeed = "_jsonp_" + Math.round(100000 * Math.random());
        //url formatting
        // if (url.match(/\?/)) url += "&callback="+jsonFlickrFeed
        // else url += "?callback="+jsonFlickrFeed
        script.src = url;
        window.jsonFlickrFeed = function(data) {
          resolve(data);
          document.body.removeChild(script);
          delete window[jsonFlickrFeed];
        }
        document.body.appendChild(script);
      });
    }      
  },
  
  created() {
    this.showWarning()
    this.callJson()
    window.addEventListener('scroll', this.scrollPage);
    if(bus.getStore('bannedAuthors') === null) {
      bus.setStore('bannedAuthors', this.bannedAuthors)
      return
    }
    this.bannedAuthors = bus.getStore('bannedAuthors')
    window.addEventListener('scroll', this.scrollPage())

    // setTimeout(() => {
    //   let script = document.createElement('script')
    //   script.url = this.url
    //   document.body.removeChild(script);
    // }, 2000);
  },
  destroyed () {
    window.removeEventListener('scroll', this.scrollPage());
  }  
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 100px;
  min-height: 100vh;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: rgb(21, 61, 146);
}
li {
  display: inline-block;
  margin: 0 10px;
}

.container {
      box-sizing: border-box;
  .row {
    padding: 1px;
    section {
      margin: 5px 0;
    text-align: left;
     div {
      border: 1px solid #ccc;
      @media (max-width: 767px) {
        max-width: 260px;
        margin: 5px auto;
      }
      padding: 10px;
      img {
        @media (max-width: 767px) {
          max-width: 250px;
        }
        width: 100%;
        height: 150px;
        border: 1px solid #ccc;
        }
      }
      .attr {
        border: 0;
        word-wrap: break-word;
        // text-align: justify;
        .photoTitle {
          font-size: 1.2rem;
        }
        .author, .photoTitle {
          text-decoration: underline;
          a {
            color: rgb(44, 132, 204);
            &:hover {
              color: rgb(6, 110, 11);
            }
          }
        }
        .description {
          margin-top: 10px;
          text-align: justify;
          &:before {
            content: "Description: ";
          }            
          img {
            display: none;
          }
          p {
            display: inline;
          }
        }
        .description, .tags {
          font-size: 0.8rem;
        }
      }
    }
  }
}
.wrap {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200ch;  
}
.tip {
  font: 13px Arial;
  color: #999;
  &:hover {
    cursor: pointer;
    color: #666;
  }
}
#search {
  position:fixed;
  top:0px;
  width:100%;
  z-index:20;  
  background-color: #ddd;
  padding:5px;
  border-bottom: 1px solid #999;
  span {
    cursor: pointer;
    background-color: #fff;
    margin-left:-20px;
    color: #999;
    &:hover {
      color: #666;
    }
  }
  input {
    width: 350px;
    padding: 5px;
  }
  div {
    margin-top: 5px;
  }
}
footer {
  position: fixed;
  background-color: #ddd;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: #666;
  border-top: 1px solid #999;
}
.material-icons.right {
  float: right;
}
.material-icons {
  cursor: pointer;
}
.material-icons.nolink {
  &:hover {
    color: inherit;
    cursor: auto;
  }
}

.modal {
  padding: 120px;
  i {
    &:hover {
      color: red;
    }
  }
  form {
    background-color: #fff;
    border-radius: 5px;
    div {
      padding: 10px;
    }
  }
  position: fixed;
  background-color: #fff;
  // border: 1px solid #000;
  top: 10%;
  width: 90%;
  height: 70%;
  overflow: auto;
  max-width: 400px;
  left: 50%;
  padding: 20px;

  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 21;
}

.modalBg:before {
  content: "";
  position: fixed;
  // display: none;
  background-color: rgba(0,0,0,.7);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
}
.showModal {
  display: block;
}

</style>
